/**
 * Created by shennana on 2017/3/15.
 */

#container{
    width: 540px;
    height: 700px;
    margin: 0 auto;
    border: 1px solid #efefef;
    background: url(../images/qipan.jpg) 1px 1px no-repeat;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    margin: 5px
}
td {
    width: 35px;
    height: 35px;
    border: 1px  #efefef;
    box-sizing: border-box;
}
/*.db-container{
	width: 100%;
}
.db-left-container{
       width: 50%;
    float: left;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
.db-right-container{
       width: 50%;
    float: left;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
.db-container ul li{
	display: inline-block;
	padding: 0 10px;
}*/

