/**
 * Created by shennana on 2017/3/15.
 */
.db-container{
	width: 100%;
}
.db-left-container{
       width: 50%;
    float: left;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
.db-right-container{
       width: 50%;
    float: left;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
.db-container ul li{
	display: inline-block;
	padding: 0 10px;
}