<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/lib/jquery.js"></script>
    <script type="text/javascript" src="../static/js/lib/angular.js"></script>
     <script type="text/javascript" src="../static/js/lib/angular-drag-and-drop-list.js"></script>
    <script type="text/javascript" src="../static/js/lib/components/js/components.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/advanced.css"/>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
     <div ng-controller="coreController">
      <br>
      <div class='box-a'>
        <amies-db list="dbs"></amies-db>
      </div>
      <br>
      <br>
      {{message}}
       <amies-dialog type='normal' ng-hide="isHideDialog" on-close="closeDialog(message)">i'm a dialog! {{names}}</amies-dialog>
       <amies-about type='name' msg="personalMsg"></amies-about>
       <amies-about type='email' msg="personalMsg"></amies-about>
       <amies-clock type='normal' format='format'></amies-clock>

       <amies-tabs>
        <amies-pane title="first" ng-model="first">
          <p>11111</p>
        </amies-pane>
        <amies-pane title="second" ng-model="second">
          <p>22222</p>
        </amies-pane>
      </amies-tabs>
     </div>
     <div>------------------------------------------------------------</div>

     <div ng-controller="AdvancedDemoController">

     <div class="advancedDemo row">
    <div ng-repeat="containers in model" class="col-md-6">
        <div class="dropzone box box-yellow" >
          <h3>Dropzone {{$index + 1}}</h3>
            <ul dnd-list="containers"
                dnd-allowed-types="['container']"
                dnd-external-sources="true"
                dnd-dragover="dragoverCallback(index, external, type, callback)"
                dnd-drop="dropCallback(index, item, external, type)">
                <li ng-repeat="container in containers"
                    dnd-draggable="container"
                    dnd-type="'container'"
                    dnd-effect-allowed="copyMove"
                    dnd-moved="containers.splice($index, 1)"
                    dnd-callback="container.items.length">
                    <div class="container-element box box-blue">
                        <h3>Container (effects allowed: {{container.effectAllowed}})</h3>
                        <ul dnd-list="container.items"
                            dnd-allowed-types="['item']"
                            dnd-horizontal-list="true"
                            dnd-external-sources="true"
                            dnd-effect-allowed="{{container.effectAllowed}}"
                            dnd-dragover="dragoverCallback(index, external, type)"
                            dnd-drop="dropCallback(index, item, external, type)"
                            dnd-inserted="logListEvent('inserted at', index, external, type)"
                            class="itemlist">
                            <li ng-repeat="item in container.items"
                                dnd-draggable="item"
                                dnd-type="'item'"
                                dnd-effect-allowed="{{item.effectAllowed}}"
                                dnd-dragstart="logEvent('Started to drag an item')"
                                dnd-moved="container.items.splice($index, 1)"
                                dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                                {{item.label}}
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
      

     </div>

</body>
</html>